# Poker Hand Data Set 

### Relevant Information:

Each record is an example of a hand consisting of five playing
cards drawn from a standard deck of 52. Each card is described
using two attributes (suit and rank), for a total of 10 predictive
attributes. There is one Class attribute that describes the
�Poker Hand�. The order of cards is important, which is why there
are 480 possible Royal Flush hands as compared to 4 (one for each
suit � explained in more detail below).

### Statistics:
|||||
| - | - | - | - |
| Poker Hand       | # of hands	| Probability	| # of combinations
| Royal Flush      | 4		| 0.00000154	| 480
| Straight Flush   | 36		| 0.00001385	| 4320
| Four of a kind   | 624		| 0.0002401	| 74880
| Full house       | 3744		| 0.00144058	| 449280
| Flush            | 5108		| 0.0019654	| 612960
| Straight         | 10200		| 0.00392464	| 1224000
| Three of a kind  | 54912		| 0.02112845	| 6589440
| Two pairs        | 123552		| 0.04753902	| 14826240
| One pair         | 1098240	| 0.42256903	| 31788800
| Nothing          | 1302540	| 0.50117739	| 156304800
| | | | |
| Total            | 2598960	| 1.0		| 311875200

# Training Data

In [2]:
import numpy as np
import pandas as pd

In [6]:
path = 'data/Poker/poker-hand-training-true.data'
df = pd.read_csv(path, names=range(0,11))

In [7]:
df.head()

   0   1   2   3   4   5   6   7   8   9   10
0   1  10   1  11   1  13   1  12   1   1   9
1   2  11   2  13   2  10   2  12   2   1   9
2   3  12   3  11   3  13   3  10   3   1   9
3   4  10   4  11   4   1   4  13   4  12   9
4   4   1   4  13   4  12   4  11   4  10   9

# Model

In [10]:
import keras
from keras.utils import to_categorical

In [20]:
X = to_categorical(df[df.columns[:-1]])
Y = to_categorical(df[df.columns[-1]])
X[0], Y[0]

(array([[0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
        [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
        [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
        [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]],
       dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 1.], dtype=float32))